<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="js/main.js">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>Условия</h2>
        <p>Доставка:
            <span v-if="shipping">Есть</span>
            <span v-else="shipping">Нет</span>
        </p>

        <hr>

        <h2>Методы</h2>
        <p>Количество:
            <button @click="dwnCounter">-</button>
            <input v-model="counter" type="text">
            <button v-on:click="upCounter">+</button>
        </p>

        <h2>Еще про методы</h2>
        
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
  <script>
    new Vue({
        el:'#app',
        data: {
           shipping: false, 
           counter: 0
        },
        methods: {
            upCounter: function() {
                this.counter++
            },
            dwnCounter: function() {
                this.counter--
            }
        }
    });
  </script>


</html>

