a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #161616;
    color: #fff;
    font-size: 15px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min(367px) 1fr;
}

.grid-item {
    border: 1px solid red;
}

.section {
    padding: 85px 0 115px;
    max-width: 1300px;
    width: 98%;
    margin: 0 auto;
}

.personal {
    display: grid;
    grid-template-columns: 170px 150px 1fr;
    grid-column-gap: 26px;
}

.personal__profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.personal__avatar {
    margin-right: 26px;
}

.personal__profile span, .personal__img {
    margin: 3px 0;
}

.personal__profile span:nth-child(1) {
    margin: 3px 0 -4px;
}

.personal__name {
    font-weight: bold;
    font-size: 30px;
}

.personal__surname {
    font-weight: 300;
    font-size: 13px;
}

.personal__img {
    display: block;
}

.personal__elo, .ea-section__rating, .ea-big__rating {
    font-weight: bold;
    font-size: 20px;
    color: #FC9231;
}

.personal__points {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 90%;
}

.personal__gradient {
    width: 100%;
    height: 34px;
    margin: 7px 0;
	background: radial-gradient(95.62% 133158.06% at 4.38% 50%, #68A4FF 0%, rgba(255, 1, 1, 0.92) 100%);
}

.personal__wrap {
    display: flex;
    justify-content: space-between;
}

.personal__scale {
    display: flex;
    justify-content: space-between;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    gap: 40px;
}

.col1 {
    display: grid;
    justify-items: end;
    margin-left: 10px;
}

.col2 {

}

.ea {
    max-width: 950px;
    width: 100%;
}

.ea__title, .rangs__title {
    text-align: center;
    margin: 10px 0 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
}

.cont-title {
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: -1;
    left: 2px;
    top: 0;
    background: rgba(0, 0, 0, 0.39);
}

.ea-section {
    max-width: 945px;
    width: 100%;
    height: 40px;
    background: #2B2B2B;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.ea-section:hover {
    background: #3e3e3e;
}

.ea-section__name, .ea-big__name {
    font-weight: normal;
    font-size: 20px;
    margin-right: 19px;
    min-width: 70px;
}

.ea-section__img {
    display: flex;
    align-self: center;
    flex-grow: 1;
}

.ea-section__number {
    margin: 0 28px 0 31px;
    font-weight: normal;
    font-size: 20px;
}

.ea-section__avatar {
    margin-right: 24px;
    align-self: center;
    display: flex;
}

.ea-section__name span {
    font-weight: 300;
    font-size: 9px;
    display: block;
    margin-bottom: 2px;
}

.ea-section__rating {
    margin-right: 21px;
}

.ea-big {
    max-width: 945px;
    width: 100%;
    background: #101010;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 67px;
}

.ea-big:hover {
    background: #3e3e3e;
}

.ea-big__img {
    display: flex;
    align-self: center;
}

.ea-big__text {
    flex-grow: 1;
    text-align: center;
}

.ea-big__number {
    margin: 0 28px 0 31px;
    font-weight: normal;
    font-size: 20px;
}

.ea-big__avatar {
    margin-right: 24px;
    align-self: center;
    display: flex;
}

.ea-big__name span {
    font-weight: 300;
    font-size: 9px;
    display: block;
    margin-bottom: 2px;
}

.ea-big__rating {
    margin-right: 21px;
}

.rangs__title {
    margin: 10px 0px 25px 0;
}

.rangs-section {
    display: flex;
    padding: 24px 0 24px 28px;
}

.rangs-section:hover {
    background: #FFA552;
    color: #000
}

.rangs-section__img {
    margin-right: 51px;
}

.rangs-section__name {
    font-weight: normal;
    font-size: 22px;
}

.rangs-section__name span {
    display: block;
    font-weight: bold;
    font-size: 22px;
}